<div class="jumbotron text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <!-- Search by Title Functionality is currently provided right now-->
                <input type="text" #searchText placeholder="Search(by Name)" name="search" class="form-control" (input)="filterGameData(searchText.value)" />
            </div>
        </div>
    </div>
</div>
<div class="">
    <div class="container">
        <div class="row" *ngFor="let gameData of filteredItems;let i=index">
            <div class="col-md-4 col-sm-4 col-xs-12" *ngIf="i%3==0">
                <!-- *ngIf="i%3==0"-->
                <div class="panel-group">
                    <div class="panel panel-primary">
                       
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="assets/image/LBPVista.jpg" class="img-responsive" alt="Product Image" height="150px" width="120px" />
                                </div>
                                <div class="col-md-8">

                                    <p class="heading text-info">{{filteredItems[i].title}}

                                    	<img src="assets/image/star.png" height="30px" width="25px" [hidden]=" filteredItems[i].editors_choice==='N' ? true : false " title="Editor's Choice" alt="Editor's Choice"/>

                                    </p>
                                    
                                    <p><span class="text-muted platform">{{filteredItems[i].platform}} </span></p>
                                    
                                   

                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                            <div class="col-md-6">
                             <p><b>Genre:  </b><span class="text-warning">{{filteredItems[i].genre}}</span></p>
                              </div>
                              <div class="col-md-6 " >
                              <p class="text-muted score">{{filteredItems[i].score}}</p>
                              </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div> 


            <div class="col-md-4 col-sm-4 col-xs-12" *ngIf="(i+1 <  filteredItems.length) && (i%3==0)">
                
                <div class="panel-group">
                    <div class="panel panel-primary">
                       
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="assets/image/DDneon.jpg"  class="img-responsive" alt="Product Image" height="150px" width="120px" />
                                </div>
                                <div class="col-md-8">

                                    <p class="heading text-info">{{filteredItems[i+1].title}}</p>
                                    
                                    <p><span class="text-muted platform">{{filteredItems[i+1].platform}} </span></p>
                                    
                                   

                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                            <div class="col-md-6">
                             <p><b>Genre:  </b><span class="text-warning">{{filteredItems[i+1].genre}}</span></p>
                              </div>
                              <div class="col-md-6 " >
                              <p class="text-muted score">{{filteredItems[i+1].score}}</p>
                              </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>


           
            <div class="col-md-4 col-sm-4 col-xs-12"  *ngIf="(i+2 < filteredItems.length && (i%3==0))">
               
                <div class="panel-group">
                    <div class="panel panel-primary">
                       
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="assets/image/NHL13.jpeg" class="img-responsive" alt="Product Image" height="150px" width="120px" />
                                </div>
                                <div class="col-md-8">

                                    <p class="heading text-info">{{filteredItems[i+2].title}}</p>
                                    
                                    <p><span class="text-muted platform">{{filteredItems[i+2].platform}} </span></p>
                                    
                                   

                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                            <div class="col-md-6">
                             <p><b>Genre:  </b><span class="text-warning">{{filteredItems[i+2].genre}}</span></p>
                              </div>
                              <div class="col-md-6 " >
                              <p class="text-muted score">{{filteredItems[i+2].score}}</p>
                              </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
           
            
        </div>
    </div>
</div>
