 
<div class="container main_container" >
  <div class="row">
  
    <div class="col-md-6">
    <div class="wrapper">
    
      <input type="search" class="form-control" placeholder="Search Kings" ng-model="main.query[main.name]" />

    </div>
  </div>
  
  </div>
  <div class="row" >
   
      
    <div class="panel panel-default panel-primary" ng-repeat="w in main.arr_king_properties | filter:main.query | orderBy:'elo_rating'" >
    
        <div class="panel-body" >
      
          <div class="row" >
           <div class="col-md-6">
        
            <img src="assets/image/{{w.image}}.jpg" alt="Product Image" height="300px" width="250px"/>
            </div>
            <div class="col-md-6">
              <p class="heading text-info">{{w.name?w.name:"Unknown"}}</p>
             
              <p class="text-muted"><b> <i class="fa fa-bolt"></i> &nbsp;&nbsp;Battles fought:</b>&nbsp;<span class="numerals">{{w.number_of_battles}} </span></p>
              
              <p class="text-muted"><b><i class="fa fa-trophy"></i> &nbsp;&nbsp;Battles Won:</b> &nbsp;<span class="numerals_green">{{w.battles_won}}</span></p>
              
              <p class="text-muted"><b><i class="fa fa-star"></i>&nbsp;&nbsp;Elo Rating:</b>
              
              &nbsp; <span class="numerals_rating">{{w.elo_rating | number:2}} </span></p>
              

              <p class="text-muted"><a ui-sref="battles({'data':w.name?w.name:'Unknown'})">List of battles fought&nbsp;&nbsp; <i class="fa fa-external-link-square"></i>  </a></p>
              
             
             </div> 
        


        </div>
    </div>

    </div>
    
    </div>
  </div>




